::-webkit-scrollbar {
  display: none;
}

.logo {
  width: 285px;
  height: 149px;
  position: relative;
  /*Position logo in a page*/
  margin-left: 0px;
  margin-right: 8px;
  margin-bottom: 800px;
  left: 48%;
  top: 270px;
}

body {
  margin: -93px;
  padding: 0px;
  width: 100%;
  height: 50vh;
  margin-bottom: -85px;

  /*This is a image background*/
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
  justify-content: center;
}

/*This is glass effect*/
.container {
  max-width: 800px;
  overflow: hidden;
  box-shadow: 0px 5px 200px rgba(0, 0, 0, 0.8);
  padding: 550px 900px;
  padding-top: 550px;
  padding-left: 950px;
  padding-right: 180px;
  padding-bottom: 450px;
  margin: auto;
  border-radius: 25px;
  margin-top: 7%;
  margin-left: 280px;
  margin-right: -1230px;
  background-color: rgba(0, 0, 0, 0.565);
  border: 1px solid black;
}

/*This is writing on the page*/
.ciao {
  color: rgb(34, 200, 9);
  box-sizing: border-box;
  text-align: center;
  align-self: center;
  justify-content: center;
  position: sticky;
  width: 2000px;
  right: 1160px;
  top: -320px;
  position: relative;
  font-family: "Lexend", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Roboto Mono", monospace;
}

/*This is Button principal*/
button {
  background-color: rgb(34, 200, 9);
  position: absolute;
  width: 1300px;
  height: 55px;
  margin-top: 487px;
  margin-left: 215px;
  border: 100px;
  touch-action: none;
  padding: 10px;
  align-items: center;
  display: flex;
  z-index: 2;
  justify-content: center;
  flex-direction: column;
}

/*This is checkbox Gino22*/
#g {
  position: relative;
  right: 205px;
  bottom: -573px;
  touch-action: none;
}

/*Here is the monopattino writing, Gino*/
#c {
  color: white;
  position: relative;
  bottom: 550px;
  top: 540px;
  right: 200px;
  min-width: 550px;
  height: 100px;
  font-family: "Lexend", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Roboto Mono", monospace;
}

/*This is Button orange*/
#bene {
  background-color: rgb(250, 185, 65);
  width: 430px;
  height: 42px;
  bottom: 670px;
  left: 440px;
  border-radius: 10px;
}

/*This is Button green*/
#bene2 {
  background-color: rgb(34, 170, 19);
  width: 710px;
  height: 42px;
  bottom: 487px;
  right: 1190px;
  border-radius: 10px;
}

/*Here is the monopattino writing, Mike24*/
#n {
  color: white;
  bottom: 500px;
  top: 725px;
  left: -750px;
  width: 1710px;
  height: 42px;
  min-width: 550px;
  position: relative;
  font-family: "Lexend", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Roboto Mono", monospace;
}

/*This is Button red*/
#bene3 {
  background-color: rgba(255, 0, 0, 0.468);
  width: 250px;
  height: 42px;
  bottom: 295px;
  right: 1647px;
  border-radius: 10px;
}

/*This is checkbox Mike24*/
#v {
  position: relative;
  right: 210px;
  bottom: -740px;
  touch-action: none;
}

/*This is checkbox Fede154*/
#d {
  position: relative;
  right: 210px;
  bottom: -910px;
  touch-action: none;
}

/*Here is the monopattino writing, Fede 154*/
#f {
  color: white;
  top: 915px;
  right: 1300px;
  width: 1600px;
  height: 42px;
  min-width: 500px;
  position: relative;
  font-family: "Lexend", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Roboto Mono", monospace;
}

/*This is Button Prenota*/
#L {
  color: black;
  background-color: white;
  width: 70px;
  height: 10px;
  right: 1400px;
  top: -75px;
  border: 1px solid black;
}

/*This is Button Termina Prenotazione*/
#G {
  color: black;
  background-color: white;
  width: 151px;
  height: 20px;
  right: 1240px;
  top: -75px;
  border: 1px solid black;
}

/*This is Button Accendi Luci*/
#S {
  color: black;
  background-color: white;
  width: 100px;
  height: 20px;
  right: 1130px;
  top: -75px;
  border: 1px solid black;
}

